lab2:
  title: "Lab2"
  paths: [
    "/Users/petersonev/Documents/School/College/Semester 3/Intro to Signal Processing [ECE 2026]/Labs/Lab2"
    "/Users/petersonev/Documents/Other/Application Data/MATLAB/spfirst"
    "/Users/petersonev/Documents/School/College/Semester 3/Intro to Signal Processing [ECE 2026]/Labs/Lab1"
  ]
